{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Learn more about your most trusted Personal Shopper</p>
        </div>
    </div>
</header>

<div class = "container">
    <div class = "row">
        <center>
            <div class="col-8">
                </br></br>
<p align="justify" >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Etiam ut convallis lectus. Ut leo massa, lacinia sit amet euismod in, rutrum vel velit. 
    Nullam vel enim tristique nisl hendrerit egestas nec non ante. 
    Aliquam rhoncus nunc felis, sed mollis lacus molestie vel. 
    Integer eu dui risus. Morbi vel lorem nisi. 
    Vivamus consequat ligula sed pretium fermentum. 
    Pellentesque sit amet consequat lacus, at volutpat libero. 
    Nulla vel bibendum ligula, vitae fringilla nunc. 
    Donec gravida dolor sit amet arcu convallis, sit amet aliquet nulla faucibus. 
    Curabitur iaculis erat in velit feugiat, at dictum mauris imperdiet.
</p>
</br></br>
            </div>
        </center>
    </div>
</div>

{% endblock %}