{% extends 'base.html' %}

{% block content %}

<br>
<br>
<div class = "container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" align = "center">{{ product.name }}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <br>
              <h5 class="card-title" align = "left">₦{{ product.price}}</h5>
            </div>
          </div>
        </div>
      </div>

</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>

</div>

{% endblock %}