{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Search Product</h1>
            <p class="lead fw-normal text-white-50 mb-0">Find what you are looking for!!</p>
        </div>
    </div>
</header>

<div class = "container">
    <div class = "row">
        <center>
            <div class="col-8">
                </br></br>

                <div class="card">
                    <div class="card-header">
                      Search Here
                    </div>
                    <div class="card-body">
                      <form method = "POST" action = "{% url 'search' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input class="form-control" id="exampleFormControlInput1" placeholder="Search" name = "searched">
                            <!--placeholders are those background texts that show in a space usually meant to be filled in-->
                            <!--"style" in html allows us to assign attributes to various of our code instead of having a seperate CSS code-->
                            <!--but in this case, the style will change the color of the input, to change the color of the placeholder,, a seperate css file is compulsory-->
                          </div>
                          <button type="submit" class="btn btn-primary">Search</button>
                      </form>
                    </div>
                  </div>

</br></br>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% if searched %}
  {% for product in searched %}
    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src= "{{ product.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    
                                    ₦{{ product.price }}
                                    <br/>
                                    Available in sizes: {{ product.description }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">About Product</a></div>
                            </div>
                        </div>
                    </div>
  {% endfor %}
{% endif %}
</div>
            </div>
        </center>
    </div>
</div>

{% endblock %}